@import "../../abstracts/mixins";

.mainIndex {
  img {
    border-radius: 15%;
    padding: 5px 10px;
    width: 260px;
    height: 240px;
  }
  p {
    max-width: 500px;
    position: relative;
    top: 15px;
    padding: 10px;
  }
}
@include whatsaap;