@import "../../abstracts/variables";

.customCarousel {
  text-align: center;
  #carouselContenido {
    display: inline-block;
    width: 50%;
    img {
      display: flex;
      max-height: 60vh;
    }
  }
}
.customIframe {
  aspect-ratio: 5/3;
  width: $w-100;

  iframe {
    width: 65%;
    height: 65%;
    display: flex;
    margin: $m-0 auto;
  }
}
