/*  */
/*  */
/* INDEX */
.mainIndex {
  img {
    border-radius: 15%;
    padding: 5px 10px;
    width: 260px;
    height: 240px;
  }
  p {
    max-width: 500px;
    position: relative;
    top: 15px;
    padding: 10px;
  }
}

/*  */
/*  */
/* NOSOTROS */
.mainNosotrosLogo {
  p {
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
  }
  img {
    width: 220px;
    height: 220px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px 10px;
    border-width: 10px 0px;
    border-style: solid;
    border-color: white;
  }
}
.mainNosotrosHumano {
  p {
    padding: 5px 50px;
  }
  img {
    border-radius: 15px;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    padding: 0px;
    margin: 0px 20px;
    height: 500px;
    width: 300px;
  }
}

/*  */
/*  */
/* PRODUCTOS */
.mainProductos {
  div {
    padding: 5px 10px;
  }
  img {
    width: 300px;
    height: 290px;
    border-radius: 15px;
    display: flex;
    margin: auto;
  }
  p {
    padding: 5px;
  }
}

/*  */
/*  */
/* CONTENIDO */
.customCarousel {
  max-width: 70%;
  margin: 0 auto;
  overflow: hidden;
  .carousel {
    max-height: 80vh;
  }
  .carousel-inner {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .carousel-item {
    flex: 0 0 100%;
    max-width: 100%;

    img {
      object-fit: scale-down;
      width: 50%;
      height: 50%;
    }
  }
  button:hover {
    background: rgba(0, 0, 0, 0.171);
  }
}
.customIframe {
  aspect-ratio: 5/3;
  width: 100%;

  iframe {
    width: 65%;
    height: 65%;
    display: flex;
    margin: 0px auto;
  }
}

/*  */
/*  */
/* CONTACTO */
.mainContacto{
  h1 {
    border-bottom: 1px solid rgb(189, 189, 189);
    
  }
h2 {
  padding-bottom: 20px;
}
.reset {
  margin-left: 50px;
}}
