// Padding, Margin, Border, Outline
$p-tittle: 10px;
$p-0: 0px;
$m-0: 0px;

// Width y Height
$w-100: 100%;
$h-100: 100%;

// Tipográficas
$fuentePrincipal: "Oswald ", sans-serif;
$fuenteSecundaria: "Josefin Sans";
$t-center: center;

// Colores
$colorPrincipal: #fff;
$colorSecundario: #000;

// Imágenes
$imagenFondo: url("../images/back.jpg");
