@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Oswald:wght@300;500&display=swap');

// Padding, Margin, Border, Outline
$p_tittle: 10px;


// Tipográficas
$fuentePrincipal: "Oswald ", sans-serif;
$fuenteSecundaria: "Josefin Sans";
$t_center: center;

// Colores
$colorPrincipal: #fff;
$colorSecundario: #000;

// Imágenes
$imagenFondo: url("../images/back.jpg");
